@page
@model Monark.Web.Pages.Pessoas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.Origem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Origem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.DtAtualizacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.DtAtualizacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Ativo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Pessoa.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
